body {
    margin: 0px;
    padding: 0px;
    background-color: #c6a0e8;
    font-family: 'Lato', sans-serif, sans-serif;
}

.title {
    margin-left: 160px;
    text-align: center;
    font-size: 55px;
    line-height: 1.5;
    font-family: STHupo;
    color: #4a1b73;
}

.total {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: .3em 0em;
    margin: auto;
    overflow: hidden;
    width: 75%;
    border-top: 1.5px solid #D9D9D9;
    font-weight: bold;
    display: flex;
    position: relative;
    color: #4a1b73;
}

#form1 {
    padding-top: 6em;
    padding-bottom: 3em;
}


.cart-view {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 1em;
    margin: auto;
    overflow: hidden;
    width: 75%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
    border-radius: 10px;
}

.payment {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    padding: .3em .3em;
    margin:auto;
    overflow: hidden;
    width: 75%;
    height: 440px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
    border-radius: 10px;
}

.check-box {
    width: 3em;
    color: #c6a0e8;
}

.check-box input {
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
}

.product-name {
    width: 20%;
    font-size: 1.2em;
    color: #4E4E4E;
    font-size: 1em;
}

.product-image {
    width: 15%;
    display: flex;
    justify-content: center;
}

.quantity {
    width: 25%;
    display: flex;
    color: #a466da;
    justify-content: center;
    font-size: 1em;
}

.quantity input {
     width: 3em;
     margin-left: 1.5em;
     padding: 0.25em 0.5em;
}

.price {
    width: 15%;
    display: flex;
    color: #a466da;
    justify-content: center;
    font-size: 1em;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
}

.format_table {
    position: relative;
    margin: 5px 80px 20px 80px; 
}

.subtitle:focus {
    outline: none;
}

.input {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding-bottom: 2px;
    box-sizing: border-box;
    font-size: .85em;
    background: rgb(255, 255, 255);
    border: 1px solid #D9D9D9;
    height: 30px;
    transition: border-color .4s, box-shadow 1s;
}

.input:active,
.input:focus{
    border: 1px solid #934ad3;
    box-shadow: 4px 4px 0 #c6a0e8;
}


.submit {
    display: block;
    color: #5A3B5D;
    font-weight: bold;
    border-radius: 2px;
    background: #c6a0e8;
    box-shadow: 5px 5px 0 0 #c6a0e8, inset 4px 4px 0 0 white;
    border: 2px solid #5A3B5D;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 40px 0px 20px 0px;
    transition: background .3s;
}

    .submit:hover {
        background: white;
        box-shadow: 5px 5px 0 0 #c6a0e8, inset 4px 4px 0 0 white;
    }

.err {
    display: block;
    font-size: .7em;
    padding-top: .5em;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    opacity: 0;
    margin-right: 10px;
    transition: opacity 1s;
    color: #B54300;
}

.footer {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    color: #5d228f;
    width:100%;
    text-align:center;
    position: relative;
}

.title_info {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif, sans-serif;
    color: #a466da;
    margin-bottom: 20px;
}

.pay_info {
    font-size: 1em;
    font-family: 'Lato', sans-serif, sans-serif;
    margin-left: 35px;
}

.pay_item {
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Lato', sans-serif, sans-serif;
}