body {
    margin-top: 1em;
    background: #b583e1;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: #fff;
    border: 1px solid #D9D9D9;
    color: rgb(99, 99, 99);
    width: 280px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 20px 30px;
}

.heading {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 20px 0px;
    border-bottom: 1px solid #D9D9D9;
}

.title {
    text-transform: uppercase;
    color: #b583e1;
    font-family: STHupo;
    font-weight: normal;
    font-size: 1.8em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.subtitle{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

.login_form p {
    position: relative;
    margin: 10px 0 10px 0;
    position: relative;
}

.email,
.pwd {
    padding: 10px;
}

.email:focus,
.pwd:focus {
    outline: none;
}

.input{
    margin-top:5px;
    display: block;
    width: 100%;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.input {
    font-size: .85em;
    background: rgb(255, 255, 255);
    border: 1px solid #D9D9D9;
    height: 30px;
    transition: border-color .4s, box-shadow 1s;
}

.input:active,
.input:focus {
    border: 1px solid #934ad3;
    box-shadow: 4px 4px 0 #c6a0e8;
}

/****** Validation messages ******/

.invalid {
    border-color: rgb(183, 0, 76);
}

.required {
    border-color: #B54300;
}

.validation {
    display: block;
    font-size: .7em;
    padding-top: .5em;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    opacity: 0;
    margin-right: 10px;
    transition: opacity 1s;
}

.validation.req {
        color: #B54300;
    }

.validation.error {
        color: rgb(183, 0, 76);
}


.submit {
    display: block;
    color: #5A3B5D;
    font-weight: bold;
    border-radius: 2px;
    background: #c6a0e8;
    box-shadow: 5px 5px 0 0 #c6a0e8, inset 4px 4px 0 0 white;
    border: 2px solid #5A3B5D;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 40px 0px 20px 0px;
    transition: background .3s;
}

.submit:hover {
    background: white;
    box-shadow: 5px 5px 0 0 #c6a0e8, inset 4px 4px 0 0 white;
}


